/*Codewithharsh*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
margin:0; 
padding:0;
box-sizing:border-box;
}  

body{
background:#060102;
font-family: "Rajdhani", sans-serif;
}

.container{
padding:20px;   
width:360px;
background:#060102;
border:2px solid #00C9D6;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:5px;
}

.container h2{
color:white;
text-transform:capitalize;
letter-spacing:2px;
text-align:center;
color:#F8EF00;
font-size:21px;
margin-top:6px;
}

.container .password-box{
height:50px;
width:100%;
border:2px solid #00C9D6;
border-radius:3px;
margin-top:22px;
display:flex;
align-items:center;
}

.container .password-box .password{
height:50px;
width:265px;
display:flex;
align-items:center;
color:#00C9D6;
padding-left:15px;
}

.container .password-box .password h3{
letter-spacing:3px;        
font-weight:500;
}

.container .password-box i{
color:#FF0041;   
margin-left:5px;
font-size:27px;
cursor:pointer;
}

.container .copy-password-btn{
all:unset;       
height:45px;  
width:170px;
background:#F8EF00;
color:#000000;
display:flex;
align-items:center;
border-right:2px solid #FF0041;
padding:0px 22px 0px 22px;
letter-spacing:2px;
font-weight:600;
margin-top:10px;
cursor:pointer;
}

.container .copy-password-btn i{
position:relative;  
left:18px;
font-size:19px;
}

.container .copy-password-btn::before{
content:"";       
height:28px;   
width:20px;
background:#000;
transform:rotate(135deg);
position:absolute;
margin-top:45px;
margin-left:-30px;
}

.container .password-length{
height:40px;  
width:100%;
display:flex;
align-items:center;
margin-top:16px;
}

.container .password-length input{
-webkit-appearance:none; 
height:3px;
width:235px;
background:#00C9D6;
cursor:pointer;
}

.container .password-length input::-webkit-slider-thumb{
-webkit-appearance:none;        
height:16px;
width:16px;
background:#F8EF00;
cursor:pointer;
}

.container .password-length .length-value{
height:25px;      
width:60px;
border:1px solid #00C9D6;
color:#00C9D6;
display:flex;
align-items:center;
justify-content:center;
margin-left:15px;
font-weight:500;
border-radius:3px;
font-size:16px;
}

.container .checkboxes-box {
padding:1px;
margin-top:18px;
}

.container .checkboxes-box .lowercase{
pointer-events: none;
}

.container .checkboxes-box div {
height:35px;
width:100%;
padding-left:1px;
display:flex;
align-items:center;
}

.container .checkboxes-box div span {
padding-left:0px;
color:white;
letter-spacing:2px;
font-weight:500;
}

.container .checkboxes-box div input{
-webkit-appearance: none;
height:18px;
width:18px;
border:1px solid #00C9D6;
border-radius:5px;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
transition:all .2s;
position:absolute;
right:30px;
}

.container .checkboxes-box div input:checked {
background:#F8EF00;
border-color:#F8EF00;
transition:all .2s;
}

.numbers span,.symbols span{
font-size:18px;       
}

 ::selection {
background:rgb(100, 149, 237, 0.8);
color:white;
}
